
#navbar{
    height: 100px;
    width: 100%;
    border: 1px solid black;
    display: flex;
     background-color: rgb(0,144,108); 
}
#logo_image{
    height: 100%;
    flex: 2;
    border: 1px solid red;
}
#searchbar{
    height: 100%;
    flex: 6;
    /* border: 1px solid rgb(0, 255, 115); */
}
#login_signup{
    height: 100%;
    flex: 2;
    /* border: 1px solid blue; */
}
#image{
    height: 100%;
    width: 100%;
    /* border: 1px solid yellow; */
}
#pharmaeasy_logo{
height: 100%;
width: 100%;
}
#search_div{
    height: 60px;
    width: 90%;
    /* border: 1px solid black; */
    margin:20px 0px 0px 30px;
    display: flex;
}
#search{
    height: 80%;
    width: 90%;
}
#login_div{
    height: 100%;
    width: 60%;
    /* border: 1px solid black; */
}
#cart_div{
    height: 100%;
    width: 40%;
    /* border: 1px solid brown; */
    display: flex;
}
#login_signup{
    display: flex;
}
.search_icon{
    height: 50%;
    width: 10%;
    margin: 15px 0px 0px 0px;

}
.login{
    display: flex;
    padding: 0px 0px 0px 0px;
}
.login p{
    margin: 70px 0px 0px 10px;
    color: white;
    font-size: 20px;
}
#login_image{
    margin: 65px 0px 0px 0px;
    height: 30px;
    width: 30px;
}
#cart_div img{
    height: 30px;
    width: 30px;
    margin: 60px 0px 0px 10px;
}
#cart_div p{
    margin: 70px 0px 0px 10px;
    color: white;
    font-size: 20px;
}

/* items div */

#items_div{
height: 700px;
width: 85%;
/* border: 1px solid black; */
margin: 6% 0px 0px 7%;
display: flex;
}
.filters_items-div{
height: 80%;
width: 40%;
/* border: 1px solid blue; */
}
.showData_div{
height: 80%;
width: 60%;
/* border: 1px solid brown; */
}
.sortByPrice_div{
    height: 10%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
.sortByPrice_div button{
    height: 40px;
    width: 100px;
    border: white;
    margin: 10px 20px 0px 0px ;

}

#appendData_div{
height: 100%;
width: 100%;
/* border: 3px solid green; */
/* display: flex;
overflow: scroll; */
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(300px,1fr);
grid-gap: 20px;
}

#item_image{
    height: 50%;
    width: 70%;

}

#items-div{
    /* border: 1px solid black; */
    height: 330px;
    padding: 20px 0px 0px 10px;
}


/* filter by category  */

.category{
    height: 15%;
    width: 100%;
    /* border: 1px solid blue; */
}
.sub_category{
    margin: 20px 0px 0px 0px;
}